/*Fonts*/
$main-font-family: monospace;
$main-font-family-bold: monospace;
$main-font-family-light: monospace;
$main-text-color: #fff;

/*Primary*/
$primary-main: #36F1CD;
$primary-dark: #00886F;
$primary-text: #F6F6F6;


/*Secondary*/
$secondary-light: #393A3D;
$secondary-main: #393A3D;
$secondary-dark: #242426;
$secondary-text: #CCCCCC;
$secondary-light-text: #6D6D6F;
$secondary-medium: #585959;

/*Warning*/
$warning-main: #EDC76C;
$warning-dark: #4A411C;

/*Error*/
$error-main: #FBD7D7;
$error-dark: #64393C;

/*Text*/
$text-gray-light: #DADADA;
$text-disable: #87898C;
$text-hint: #87898C;
$text-icon: #87898C;

$fieldBorder: #53555A;
$divider: #53555A;

/*Others*/
$header-zindex: 500;