@import "styles/common/_var";

.cartBox:hover{
    cursor: pointer;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.41);
}
@media (max-width: 768px){
    .cartBox{
        cursor: pointer;
        box-shadow: 0px 5px 44px rgba(0, 0, 0, 0.3);
    }
}

